#------------------------------------------////
# Aliases:
#------------------------------------------////
alias c='clear'
alias ls='ls -aFl --color'
alias grep='grep --color=always'

alias venv_myhvac='source {{install_dir}}/bin/activate'

alias start_service='python {{install_dir}}/bin/myhvac-service --config-file={{install_dir}}/service.conf --log-config-file={{install_dir}}/service.conf'