MYHVAC_WEB_RAILS_DATABASE_NAME: {{ database_name }}
MYHVAC_WEB_RAILS_DATABASE_PASSWORD: {{ database_password }}
MYHVAC_WEB_RAILS_DATABASE_USERNAME: {{ database_username }}
MYHVAC_WEB_RAILS_DATABASE_HOST: {{ database_host }}